<style>
a.list-group-item {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    margin-bottom: -1px;
    padding: 5px 15px;
    position: relative;
}
</style>

<div class="list-group">
        {% for category in categories %}
            
            <a href="{{ category.href }}" class="list-group-item 0-level-cat {{ category.category_id == cat_id ?'active':''}}">{{ category.name}}</a>
            {% if category.sub_cat %}
                {% set sub_cat = category.sub_cat %}
                {% if sub_cat.category_id %}
                    {% if sub_cat.siblings %}
                        {% for sibling  in sub_cat.siblings %}
                            <a href="{{ sibling.href}}" class="list-group-item fa fa-angle-right subcategory {{ sibling.category_id == cat_id ?'active':''}}">&nbsp;&nbsp;&nbsp;&nbsp; {{ sibling.name }}</a>
                        {% endfor %}
                    {% else %}
                        <a href="{{ sub_cat.href}}" class="list-group-item fa fa-angle-right subcategory {{ sub_cat.category_id == cat_id ? 'active':'' }}">&nbsp;&nbsp;{{ sub_cat.name }}</a>
                    {% endif %}
            
            {% endif %}
            {% set sub_cat = category.sub_cat %}
            {% if sub_cat.sub_cat %}
                {% set sub_sub_cat = sub_cat.sub_cat %}
                {% if sub_sub_cat.sliblings %}
                        {% for sibling in sub_sub_cat.sliblings %}
                            <a href="{{ sibling.href}}" class="list-group-item fa fa-angle-right subcategory {{ sibling.category_id == cat_id ?'active':''}}">&nbsp;&nbsp;&nbsp;&nbsp; {{ sibling.name}}</a>
                        {% endfor %}
                {% else %}
                    <a href="{{ sub_sub_cat.href }}" class="list-group-item fa fa-angle-right subcategory {{ sub_sub_cat.category_id == cat_id ?'active':''}}">&nbsp;&nbsp;&nbsp;&nbsp; {{ sub_sub_cat.name}}</a>
                    {% if sub_sub_cat.children %}
                        {% for child in sub_sub_cat.children %}
                            <a href="{{ child.href }}" class="list-group-item fa fa-angle-right subcategory {{ child.category_id == cat_id ?'active':''}}">&nbsp;&nbsp;&nbsp;&nbsp; {{ child.name}}</a>
                            {% if child.children %}
                                {% for sub_child in child.children %}
                                    <a href="{{ sub_child.href}}" class="list-group-item fa fa-angle-right subcategory {{ sub_child.category_id == cat_id ?'active':''}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ sub_child.name}}</a>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% elseif sub_cat.children %}
                {% for child in sub_cat.children %}
                    <a href="{{ child.href }}" class="list-group-item fa fa-angle-right subcategory {{ child.category_id == cat_id ?'active':''}}">&nbsp;&nbsp;&nbsp;&nbsp; {{ child.name}}</a>
                    {% if child.children %}
                        {% for sub_child in child.children %}
                            <a href="{{ sub_child.href}}" class="list-group-item fa fa-angle-right subcategory {{ sub_child.category_id == cat_id ?'active':''}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ sub_child.name}}</a>
                        {% endfor %}
                   {% endif %}
                {% endfor %}
            {% endif %}
            {% if category.children %}
                {% for child in category.children %}
                    <a href="{{ child.href }}" class="list-group-item fa fa-angle-right subcategory {{ child.category_id == cat_id ?'active':''}}">&nbsp;&nbsp;&nbsp;&nbsp; {{ child.name}}</a>
                        {% if child.children %}
                            {% for sub_child in child.children %}
                            <a href="{{ sub_child.href }}" class="list-group-item fa fa-angle-right subcategory level_2 {} {{ sub_child.category_id == cat_id ?'active':''}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ sub_child.name}}</a>
                            {% endfor %}
                        {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>