<div class="module-social">
	<div class="social-block">
		<div class="box-heading"><h3>{{ title }}</h3></div>
		<div class="box-content">
			<p>{{ description }}</p>
			{% if (socials) %}
				<ul class="social-list list-unstyled">
					{% for social in socials %}
						<li><a class="{{ social['css'] }}" href="{{ social['link'] }}" data-toggle="tooltip" title="{{ social['name'] }}"></a></li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>
</div>