<h3 class="box-heading">{{ text_account }}</h3>
<ul class="box-content list-unstyled">
	<li><a href="{{ account }}">{{text_account}}</a></li>
	<li><a href="{{ order }}">{{ text_order }}</a></li>
	<li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
	<li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
	<li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
</ul>