{% if error_warning %}
<div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
{% if payment_methods %}
<p>{{ text_payment_method }}</p>
{% for payment_method in payment_methods %}
<div class="radio">
  <label>{% if payment_method.code == code or not code %}
    {% set code = payment_method.code %}
    <input type="radio" name="payment_method" value="{{ payment_method.code }}" checked="checked" />
    {% else %}
    <input type="radio" name="payment_method" value="{{ payment_method.code }}" />
    {% endif %}
    {{ payment_method.title }}
    {% if payment_method.terms %}
    ({{ payment_method.terms }})
    {% endif %} </label>
</div>
{% endfor %}
{% endif %}
<p><strong>{{ text_comments }}</strong></p>
<p>
  <textarea name="comment" rows="8" class="form-control">{{ comment }}</textarea>
</p>
{% if text_agree %}
<div class="buttons">
	<div>
 		<span class="verify">{{ text_agree_1 }}</span>
 		<input type="checkbox" name="agree_" value="1" id="agree_1">
 		<label class="agree_1" for="agree_1">
 		</label>
 	</div>
	<div>
		<span class="verify">{{ text_agree }}</span>
    	{% if agree %}
    	<input type="checkbox" name="agree" value="1" checked="checked" />
    	{% else %}
    	<input type="checkbox" name="agree" value="1" id="agree" />
    	{% endif %}    	
  	</div>
	<div>
		<span class="verify">{{ text_agree_2 }}</span>
		<input type="checkbox" name="agree__" value="1" id="agree_2">
		<label class="agree_1" for="agree_2">
		</label>
   </div>
   <div>
   		<span class="verify mt3 mb0">Wie seid Ihr auf uns aufmerksam geworden?</span>
   
   		<div class="rsdio dinl"><input type="radio" name="questions" value="1" id="questions_1">
	   		<label class="agree_1" for="questions_1">
		   		Suchmaschine
	   		</label></div>
   		<div class="radio dinl"><input type="radio" name="questions" value="2" id="questions_2">
	   		<label class="agree_1" for="questions_2">
		   		Facebook
	   		</label></div>
   		<div class="radio dinl"><input type="radio" name="questions" value="3" id="questions_3">
	   		<label class="agree_1" for="questions_3">
		   		Instagram
	   		</label></div>
   		<div class="radio dinl"><input type="radio" name="questions" value="4" id="questions_4">
	   		<label class="agree_1" for="questions_4">
		   		TikTok
	   		</label></div>
   		<div class="radio dinl"><input type="radio" name="questions" value="5" id="questions_5">
	   		<label class="agree_1" for="questions_5">
		   		Presse
	   		</label></div>
   		<div class="radio dinl"><input type="radio" name="questions" value="6" id="questions_6">
	   		<label class="agree_1" for="questions_6">
		   		Empfehlung
	   		</label></div>

	</div>
</div>
<div class="pull-right">
  <input type="button" value="{{ button_continue }}" id="button-payment-method" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
</div>
{% else %}
<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_continue }}" id="button-payment-method" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>
{% endif %}

