<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
<meta charset="UTF-8" />
<style>
	body, html { margin-bottom: 0; padding-bottom: 0; }
	body { 
		font-size: 16px; font-family:Verdana;
	}
	.heute { position:absolute;margin:262px 0 0 200px; }
	.bis { position:absolute;margin:262px 0 0 450px; }
	.wert { position:absolute;margin:135px 0 0 350px; font-weight:bold; }
</style>
</head>
<body>
<img src="{{ store_url }}img/Gutschein.png" style="width:680px; position:absolute">
<div class="heute">{{ start_day }}</div>
<div class="bis">{{ end_date }}</div>
<div class="wert">
	{{ price_coupon }}
</div>
<div class="wert">
	Code: {{ coupon }}
</div>
</body>
</html>
