<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<meta charset="UTF-8" />
<title>{{ title }}</title>
<base href="{{ base }}" />
<link href="view/javascript/bootstrap/css/bootstrap.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="view/javascript/bootstrap/js/bootstrap.min.js"></script>
<link href="view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
<link type="text/css" href="view/stylesheet/stylesheet.css" rel="stylesheet" media="all" />
<style>
	table, tr, td { border: none !important; }
	.table thead td {
		font-weight: 400;
	}
	span { font-size: .8em; }
	.inv { font-size: 1.5em; font-weight:600; text-transform: uppercase; color:#000; }
	.table-bordered td { border-bottom: solid 1px #999 !important; }
	.table.top thead > tr > td, .table tbody > tr > td {
		vertical-align: top; margin-top:3em !important; font-size:.8em;
	}
	body, html { margin-bottom: 0; padding-bottom: 0; }
	hr { margin: 0; }
</style>
</head>
<body style="display: block;">
<div class="container" style="width:800px;height:100%;">
  <div style="page-break-after: always;">
    <table class="table" style="width:800px;">
      <thead>
	  	<tr>
			<td></td>	  
			<td align="right"><img src="/image/catalog/obsthof-basics/Obsthof-am-Steinberg-Logo.png" style="width:200px;"></td>
		</tr>
		<tr>
			<td>
				<span>Obsthof am Steinberg – Am Steinberg 24 – 60437 Frankfurt</span>
					<br/>
          	  	<br/>
{% for order in orders %}
				{{ order.payment_address }}
			</td>
			<td align="right"><p>Obsthof am Steinberg<br />
				Inh.: Andreas Schneider<br />
				Am Steinberg 24<br />
				60437 Frankfurt/Niedererlenbach<br />
				Tel.: 06101 – 41522<br />
				Fax: 06101 – 497484<br />
				info@obsthof-am-steinberg</p></td>
		</tr>
      </thead>
	  
      <tbody>
  	  	<tr><td></td></tr>
    		<tr>
				<td><h1 class="inv">{{ text_invoice }} #{{ invoice_number }}</h1></td>
				<td align="right"><p>Datum:&nbsp; {{ order.date_added }}</p></td>
			</tr>
        <tr>
          <td colspan="2">
			{% if order.invoice_no %}
            {{ text_invoice_no }}:&nbsp; {{ order.invoice_no }}<br />
            {% endif %}
            {{ text_order_id }}:&nbsp; {{ order.order_id }}<br />
            {{ text_payment_method }}:&nbsp; {{ order.payment_method }}<br />
            {% if order.shipping_method %}
            {{ text_shipping_method }}:&nbsp; {{ order.shipping_method }}<br />
            {% endif %}		  	
		  </td>
        </tr>
        <tr>
          <td style="width: 50%;">
		  
		  </td>
          <td style="width: 50%;">
		
		
		</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered">
      <thead>
        <tr>
          <td><b>Bezeichnung</b></td>
          <td class="text-right"><b>{{ column_quantity }}</b></td>
          <td class="text-right"><b>{{ column_price }}</b></td>
          <td class="text-right"><b>{{ column_total }}</b></td>
        </tr>
      </thead>
      <tbody>
        {% for product in order.product %}
        <tr>
          <td>{{ product.name }}
            {% for option in product.option %}
            <br />
            &nbsp;<small> - {{ option.name }}: {{ option.value }}</small>
            {% endfor %}</td>
          <td class="text-right">{{ product.quantity }}</td>
          <td class="text-right">{{ product.price }}</td>
          <td class="text-right">{{ product.total }}</td>
        </tr>
        {% endfor %}
        {% for voucher in order.voucher %}
        <tr>
          <td>{{ voucher.description }}</td>
          <td></td>
          <td class="text-right">1</td>
          <td class="text-right">{{ voucher.amount }}</td>
          <td class="text-right">{{ voucher.amount }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
	<table style="float:right; margin-right:10px;line-height: 1.5em">
        {% for total in order.total %}
        <tr>
          <td class="text-right" colspan="3"><b>{{ total.title }}</b>: &nbsp;</td>
          <td class="text-right">{{ total.text }}</td>
        </tr>
        {% endfor %}
	</table>
    {% if order.comment %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <td><b>{{ text_comment }}</b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ order.comment }}</td>
        </tr>
      </tbody>
    </table>
    {% endif %}
  
  			<table class="table top" style="position: fixed; bottom:-20px">
	  				<tr>
						  <td colspan="3">
  							<hr>							  
						  </td>
					  </tr>
				  <tr>
					<td valign="top">Obsthof am Steinberg<br>
						Inh.: Andreas Schneider<br>
						Am Steinberg 24<br>
						60437 Frankfurt/Nieder-Erlenbach
					</td>
					<td valign="top">
						Deutsche Kreditbank<br>
						Kto.: 1020 4280 64 / BLZ: 120 300 00<br>
						IBAN: DE40 1203 0000 1020 4280 64<br>
						BIC: BYLADEM1001<br>
						USt-IdNr.: DE216963084
					</td>
					<td valign="top">
						Tel.: 06101 – 41522<br>
						Fax: 06101 – 497484<br>
						info@obsthof-am-steinberg.de
					</td>
	  			</tr>
  			</table>

  </div>
  {% endfor %}
</div>
  
</body>
</html>